/* Shared Stylesheet */

.box {
  border: 1px dotted var(--red);
}

div {
  padding: 1rem  1rem 0  1rem;
}
article {
  border-radius: var(--border-radius);
  padding: 1rem;
  color: var(--light);
  border: 1px solid var(--darker);
  background-color: var(--dark);

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 10px 5px rgba(29, 29, 29, 0.2);
}
